/* RESET MODERNO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #e2e8f0;
    background-image: linear-gradient(
        135deg,
        rgb(217, 226, 240) 10%,
        #fdfdfd 20%,
        #fdfdfd 30%,
        rgb(181, 208, 245) 40%);
    min-height: 100vh;
}

section {
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    flex-direction: column;
    margin: 0 5%;
    scroll-margin-top: 80px;
}

/* VARIÁVEIS */
:root {
    --azul-escuro: rgb(50, 100, 150);
    --focus: #009bdf;
    --branco: #f9f9f9;
    --gelo: #f1f1f1;
    --nav: #505050;
    --subtitle: #758398;
    --branco-rodape: #d1d1d1;
    --black: #151615;
}